<div class="home" layout="column" layout-align="center center">
  <div class="container">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span><i class="fa fa-clock-o clock-icon"></i>iCheck</span>
        <div flex></div>
        <md-button><i class="fa fa-sign-out sign-out-icon"></i></md-button>
      </div>
    </md-toolbar>

    <md-content>
      <div class="tabs">
        <md-tabs md-selected="selectedIndex" class="md-hue-2">
          <md-tab label="Check">
            <div class="tab" layout="column" layout-fill layout-align="start center">
              <!-- <div class="slide-animate" ng-include="'views/serviceProviders/check.html'"></div> -->
              <div class="slide-animate" ng-include="'views/serviceProviders/requests.html'"></div>
            </div>
          </md-tab>

          <md-tab label="Week">
            <div class="tab" layout="column" layout-fill layout-align="start center">
              <div class="slide-animate" ng-include="'views/serviceProviders/week.html'"></div>
            </div>
          </md-tab>

          <md-tab label="Month">
            <div class="tab" layout="column" layout-fill layout-align="start center">
              <div class="slide-animate" ng-include="'views/serviceProviders/month.html'"></div>
            </div>
          </md-tab>

          <md-tab label="Requests">
            <div class="tab" layout="column" layout-fill layout-align="start center">
            </div>
          </md-tab>
        </md-tabs>
      </div>
    </md-content>
  </div>
</div>
