<md-dialog class="new-request" ng-controller="ServiceProvidersNewRequestCtrl">
  <md-content class="content">
    <div class="header" layout="row" layout-align="start center">
      <i class="fa fa-comment icon"></i>

      <div class="title" layout="row" ng-if="currentWizardState==WIZARD_STEPS.DATE">
        <div>NEW REQUEST</div>

        <div class="subtitle">Select a date (1/4)</div>
      </div>

      <div class="title" layout="row" ng-if="currentWizardState==WIZARD_STEPS.PERIOD">
        <span>NEW REQUEST</span>
        <span class="subtitle">Select a period (2/4)</span>
      </div>

      <div class="title" layout="row" ng-if="currentWizardState==WIZARD_STEPS.TIME">
        <span>NEW REQUEST</span>
        <span class="subtitle">Select an hour (3/4)</span>
      </div>

      <div class="title" layout="row" ng-if="currentWizardState==WIZARD_STEPS.COMMENT">
        <span>NEW REQUEST</span>
        <span class="subtitle">Write a comment (4/4)</span>
      </div>
    </div>

    <div class="states" layout="column" layout-align="center center">
        <div class="state-date" layout="row" layout-align="center center" ng-if="currentWizardState==WIZARD_STEPS.DATE"
          ng-controller="ServiceProvidersNewRequestDateCtrl">
          <div class="navigator">
            <md-button class="md-raised md-primary" ng-click="navigate(-1)" aria-label="Go to previous month"><i class="fa fa-chevron-left"></i></md-button>
          </div>

          <div class="box-month">
            <div class="header-month" layout="column" layout-align="center center">
              <div class="label-month">{{month.monthLabel}}</div>

              <div class="day-selected-header" ng-class="{'hide': selectedDay==null}">{{selectedDay.num}}</div>

              <div layout="row" layout-align="start center">
                <div ng-repeat="day in month.dayNames">
                  <div class="day-of-week">{{day}}</div>
                </div>
              </div>
            </div>

            <div class="days" layout="column" layout-align="center center">
              <div ng-repeat="week in month.weeks">
                <div layout="row">
                  <div ng-repeat="day in week track by $index">
                    <div ng-class="{'day': !day.current, 'day-current': day.current}" ng-show="day.num!=0"
                      ng-click="selectDay(day)">{{day.num}}</div>
                    <div class="day-dummy" ng-show="day.num==0">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="navigator">
            <md-button class="md-raised md-primary" ng-click="navigate(1)" aria-label="Go to next month"><i class="fa fa-chevron-right"></i></md-button>
          </div>
      </div>

      <div class="state-period" ng-if="currentWizardState==WIZARD_STEPS.PERIOD">
      </div>

      <div class="state-time" ng-if="currentWizardState==WIZARD_STEPS.TIME">
      </div>

      <div class="state-comment" ng-if="currentWizardState==WIZARD_STEPS.COMMENT">
      </div>
    </div>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button class="fixed-button-width" ng-click="answer('not useful')">
     CANCEL
    </md-button>

    <span flex></span>

    <md-button ng-click="previous()" class="md-primary fixed-button-width" ng-show="currentWizardState &gt; WIZARD_STEPS.DATE">
     <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;PREVIOUS
    </md-button>

    <md-button ng-click="next()" class="md-primary fixed-button-width" ng-show="currentWizardState &lt; WIZARD_STEPS.COMMENT">
      NEXT&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
    </md-button>

    <md-button ng-click="create()" class="md-primary fixed-button-width" ng-show="currentWizardState == WIZARD_STEPS.COMMENT" style="color:green;">
      VALIDATE&nbsp;&nbsp;<i class="fa fa-check"></i>
    </md-button>
  </div>
</md-dialog>

<!--
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            View for Item #1<br/>
            data.selectedIndex = 0
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            View for {{data.secondLabel}}<br/>
            data.selectedIndex = 1
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            View for Item #3<br/>
            data.selectedIndex = 2
        </div>
    </ng-switch>
-->
