<div class="requests" layout="column" ng-controller="ServiceProvidersRequestsCtrl">
  <md-content>
    <div ng-repeat="request in requests">
      <md-whiteframe class="md-whiteframe-z1 item" layout>
        <div class="box-date">
          <div class="day-label">{{request.date.dayLabel}}</div>
          <div class="day">{{request.date.day}}</div>
          <div>{{request.date.monthYear}}</div>
        </div>

        <div class="info" layout="column">
          <div layout="row">
            <div class="box" layout="column">
              <md-tooltip>
                {{request.periodLabel}}
              </md-tooltip>

              <i class="fa fa-sun-o icon-date icon-top" ng-if="request.isMorning"></i>
              <i class="fa fa-moon-o icon-date icon-top" ng-if="!request.isMorning"></i>
              <div ng-if="request.isIn">IN</div>
              <div ng-if="!request.isIn">OUT</div>
            </div>

            <div class="box" layout="column">
              <i class="fa fa-clock-o icon-date icon-top"></i>
              {{request.time}}
            </div>

            <md-button class="md-primary">
              <div class="box" ng-if="request.reply=='RE'"><i class="fa fa-comments icon-top"></i></div>
              <div class="box" ng-if="request.reply!='RE'"><i class="fa fa-comment icon-top"></i></div>
            </md-button>
          </div>

          <div class="status accepted" ng-if="request.reply=='AC'">ACCEPTED</div>
          <div class="status refused" ng-if="request.reply=='RE'">REFUSED</div>
          <div class="status pending" ng-if="request.reply=='PE'">PENDING</div>
        </div>
      </md-whiteframe>
    </div>
  </md-content>

  <md-button class="md-warn md-fab add-button" ng-click="add()" aria-label="Add a request">
    <i class="fa fa-plus add-icon"></i>
  </md-button>
</div>
