<div class="state-period" layout="row" layout-align="center center" ng-controller="ServiceProvidersNewRequestPeriodCtrl">
  <md-radio-group ng-model="period">
    <md-radio-button value="t1" aria-label="Morning in" ng-click="setPeriod('t1')">Morning in</md-radio-button>
    <md-radio-button value="t2" aria-label="Morning out" ng-click="setPeriod('t2')">Morning out</md-radio-button>

    <div class="divider"></div>

    <md-radio-button value="t3" aria-label="Afternoon in" ng-click="setPeriod('t3')">Afternoon in</md-radio-button>
    <md-radio-button value="t4" aria-label="Afternoon out" ng-click="setPeriod('t4')">Afternoon out</md-radio-button>
  </md-radio-group>
</div>
