<div class="state-period" ng-controller="ServiceProvidersNewRequestPeriodCtrl">
  <md-radio-group ng-model="period" layout="row" layout-align="space-around center">
    <div class="box" layout="column">
      <i class="fa fa-sun-o"></i>

      <md-radio-button class="option" value="t1" aria-label="Morning in" ng-click="setPeriod('t1')">
        <div class="label">IN</div>
      </md-radio-button>

      <md-radio-button class="option" value="t2" aria-label="Morning out" ng-click="setPeriod('t2')">
        <div class="label">OUT</div>
      </md-radio-button>
    </div>

    <div class="box" layout="column">
      <i class="fa fa-moon-o"></i>

      <md-radio-button class="option" value="t4" aria-label="Afternoon in" ng-click="setPeriod('t3')">
        <div class="label">IN</div>
      </md-radio-button>

      <md-radio-button class="option" value="t5" aria-label="Afternoon out" ng-click="setPeriod('t4')">
        <div class="label">OUT</div>
      </md-radio-button>
    </div>
  </md-radio-group>
</div>
