<div class="state-time" layout="row" layout-align="center center" ng-controller="ServiceProvidersNewRequestTimeCtrl">
  <div class="unit" layout="column" ng-show="true">
     <md-button class="md-raised md-primary" ng-click="tick('h1', 1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-up"></i>
      </md-button>

      <div class="digit">{{h1}}</div>

      <md-button class="md-raised md-primary" ng-click="tick('h1', -1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-down"></i>
      </md-button>
  </div>

  <div class="unit" layout="column">
     <md-button class="md-raised md-primary" ng-click="tick('h2', 1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-up"></i>
      </md-button>

      <div class="digit">{{h2}}</div>

      <md-button class="md-raised md-primary" ng-click="tick('h2', -1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-down"></i>
      </md-button>
  </div>

  <div class="separator">:</div>

  <div class="unit" layout="column">
     <md-button class="md-raised md-primary" ng-click="tick('m1', 1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-up"></i>
      </md-button>

      <div class="digit">{{m1}}</div>

      <md-button class="md-raised md-primary" ng-click="tick('m1', -1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-down"></i>
      </md-button>
  </div>

  <div class="unit" layout="column">
     <md-button class="md-raised md-primary" ng-click="tick('m2', 1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-up"></i>
      </md-button>

      <div class="digit">{{m2}}</div>

      <md-button class="md-raised md-primary" ng-click="tick('m2', -1)" aria-label="Go to previous month">
        <i class="fa fa-chevron-down"></i>
      </md-button>
  </div>
</div>
