/*
** General transitions
*/

.reveal-animation.ng-enter {
  overflow-y: hidden;
  margin-top: 200px;

  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
  margin-top: 0;
  opacity: 1;
}

.reveal-animation.ng-leave {
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.reveal-animation.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}

/*
** General selectors
*/

body {
  background-color: #BBDEFB;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 9px 7px 7px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #2196F3;
  border-radius: 10px;
}

/*
** Login
*/

.login md-content {
  background-color: #bbdefb;
}

.login .container {
  margin-top: 100px;
  width: 250px;
}

.login .clock-icon {
  color: #fff;
  font-size: 50px;
}

.login .clock-date {
  color: #2196F3;
  font-size: 15px;
  margin-bottom: 5px;
}

.login .clock-hour {
  color: #fff;
  font-size: 90px;
}

.login .button {
  height: 45px;
}

/*
** ServiceProviders' Home page
*/

.home md-content {
  background-color: #bbdefb;
}

.home md-content .md-header-items-container {
  padding-left: 220px;
}

.home .container {
  width: 100%;
}

.home .title {
  font-size: 24px;
  font-weight: 100;
  color: #BBDEFB;
}

.home .clock-icon {
  font-size: 25px;
  margin-right: 10px;
  color: #BBDEFB;
}

.home .menu-icon {
  font-size: 25px;
  width: 40px;
}

.home .menu {
  position: absolute;
  right: 10px;
  top:  50px;
  width: 160px;
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
  opacity: 0;
  transition: opacity .25s ease-in;
}

.home .menu.visible {
  opacity: 1;
}

.home .menu .button {
  color: #5076AA;
  width: 100%;
}

.home .menu .sign-out-icon {
  font-size: 25px;
  margin-right: 10px;
}

.home .clock-date {
  color: #1976D2;
  font-size: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.home .clock-hour {
  color: #fff;
  font-size: 70px;
  text-align: center;
}

.home .tabs .title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #888;
  margin-top: 24px;
}

.home .tabs .long > input {
  width: 264px;
}

.home .tabs .add-icon {
  font-size: 25px;
}

/*
** ServiceProviders' CHECK tab
*/

.check {
  margin-top: 70px;
}

.check .button {
  height: 45px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.check .box {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 15px;
  color: #fff;
  background-color: #2196F3;
  border-radius: 2px;
}

.check .box i {
  font-size: 40px;
  margin-bottom: 30px;
}

.check .box .text {
  margin-top: 5px;
  font-size: 18px;
}

.check .box .text .in-out {
  color: #BBDEFB;
}

.check .box .duration, .check .box .percentage {
  font-size: 30px;
  color: #BBDEFB;
}

.check .period {
  color: #1976D2;
  margin-top: 10px;
}

.check .period-label {
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
  width: 100px;
  text-align: left;
}

.check .period-divider {
  border-bottom: solid 1px #4CA0F2;
  width: 190px;
  margin-top: 10px;
}

.check .badge {
  width: 55px;
  height: 18px;
}

.week .week-panel {
  margin-top: 50px;
  text-align: center;
  padding: 0;
}

/*
** ServiceProviders' WEEK tab
*/

.week {
  margin-top: 40px;
}

.week .box-month {
  border: solid 1px #2196F3;
  border-radius: 2px;
}

.week .box-month .header-month {
  padding: 15px;
  background-color: #2196F3;
  color: #fff;
  height: 120px;
}

.week .box-month .days {
  padding: 20px 10px 5px 10px;
  background-color: #fff;
}

.week .box-month .header-month .hide {
  visibility: hidden;
}

.week .box-month .day-of-week {
  color: #2196F3;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.week .box-month .days .day {
  color: #2196F3;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.week .box-month .days .day-current {
  color: #fff;
  border: solid 1px #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.week .box-month .days .day-dummy {
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.week .box-month .days .worked {
  border-top: solid 1px #CEE7FB;
  margin: 0px 10px 0 10px;
  padding-top: 3px;
  text-align: center;
  color: #7CCB2D;
}

/*
** ServiceProviders' MONTH tab
*/

.month {
  margin-top: 40px;
}

.month .box-month {
  border: solid 1px #2196F3;
  border-radius: 2px;
}

.month .box-month .header-month {
  padding: 15px;
  background-color: #2196F3;
  color: #fff;
  height: 120px;
}

.month .box-month .days {
  padding: 20px 10px 5px 10px;
  background-color: #fff;
}

.month .box-month .header-month .hide {
  visibility: hidden;
}

.month .box-month .day-of-week {
  color: #2196F3;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.month .box-month .days .day {
  color: #2196F3;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.month .box-month .days .day-current {
  color: #fff;
  border: solid 1px #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.month .box-month .days .day-dummy {
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.month .box-month .days .worked {
  border-top: solid 1px #CEE7FB;
  margin: 0px 10px 0 10px;
  padding-top: 3px;
  text-align: center;
  color: #7CCB2D;
}

/*
** ServiceProviders' REQUESTS tab
*/

.requests {
  margin-top: 30px;
}

.requests md-content {
  height: 750px;
}

.requests .add-button {
  position: fixed;
  bottom: 30px;
  right: 35px;
}

.requests .item {
  cursor: pointer;
  margin: 15px;
  background-color: #fff;
  text-align: left;
}

.requests .box-date {
  background-color: #2196F3;
  color: #fff;
  width: 140px;
  height:110px;
  padding: 15px 10px;
  text-align: center;
  font-size: 14px;
}

.requests .item .box-date .day-label {
  margin: 1px 0 3px 0;
}

.requests .item .box-date .day {
  font-size: 50px;
}

.requests .info {
  color: #5076AA;
  text-transform: uppercase;
}

.requests .item .info .box {
  margin: 15px 30px;
  text-align: center;
  font-size: 14px;
  width: 30px;
}

.requests .item .info .box .icon-top {
  font-size: 25px;
  padding: 3px;
  margin-bottom: 5px;
  color: #5076AA;
}

.requests .item .info .status {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  height: 30px;
  padding-top: 10px;
  color: #FFF;
}

.requests .item .info .status.accepted {
  background-color: #74D348;
}

.requests .item .info .status.refused {
  background-color: #E78787;
}

.requests .item .info .status.pending {
  background-color: #ccc;
}

/*
** ServiceProviders' new request
*/

.dialog .content {
  width: 600px;
  height: 500px;
}

.dialog .header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2196F3;
  padding: 15px;
  color: #fff;
}

.dialog .header .title {
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 5px;
}

.dialog .header .subtitle {
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.dialog .fixed-button-width {
  width: 130px;
}

/*
** ServiceProviders' new request: DATE
*/

.dialog .states .state-date {
  margin-top: 60px;
}

.dialog .states .state-date .navigator {
  margin: 10px;
}

.dialog .states .state-date .box-month {
  border: solid 1px #2196F3;
  border-radius: 2px;
}

.dialog .states .state-date .box-month .header-month {
  padding: 10px;
  background-color: #2196F3;
  color: #fff;
}

.dialog .states .state-date .box-month .header-month {
  padding: 5px;
  background-color: #2196F3;
  color: #fff;
}

.dialog .states .state-date .box-month .header-month .label-day {
  font-size: 15px;
  margin-top: 10px;
  height: 15px;
}

.dialog .states .state-date .box-month .days {
  padding: 20px 10px 5px 10px;
}

.dialog .states .state-date .box-month .header-month .day-selected-header {
  font-size: 50px;
  text-align: center;
  height: 70px;
  padding: 10px;
}

.dialog .states .state-date .box-month .header-month .month-year {
  margin-bottom: 10px;
}

.dialog .states .state-date .box-month .header-month .hide {
  visibility: hidden;
}

.dialog .states .state-date .box-month .day-of-week {
  color: #2196F3;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.dialog .states .state-date .box-month .days .day {
  cursor: pointer;
  color: #2196F3;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.dialog .states .state-date .box-month .days .day-current {
  cursor: pointer;
  color: #fff;
  border: solid 1px #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.dialog .states .state-date .box-month .days .day-dummy {
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.dialog .states .state-date .box-month .days .day:hover,
.dialog .states .state-date .box-month .days .day-current:hover {
  transform: scale(1.6);
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

/*
** ServiceProviders' new request: PERIOD
*/

.dialog .states .state-period {
  margin-top: 130px;
}

.dialog .states .state-period .divider {
  border-bottom: solid 1px #ddd;
  margin: 30px 0;
  width: 100%;
}

.dialog .states .state-period .box {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 15px;
  color: #2196F3;
  border: solid 1px #2196F3;
  border-radius: 2px;
}

.dialog .states .state-period .box .fa {
  font-size: 40px;
  margin: 0 0 10px 5px;
}

.dialog .states .state-period .box md-radio-button.md-default-theme .md-off {
  border-color: #2196F3;
}

.dialog .states .state-period .box .option {
  margin: 10px 0 0 10px;
}

.dialog .states .state-period .box .label {
  margin-top: 4px;
}


/*
** ServiceProviders' new request: TIME
*/

.dialog .states .state-time {
  margin-top: 80px;
  color: #2196F3;
}

.dialog .states .state-time .unit {
  margin: 10px;
}

.dialog .states .state-time .unit .digit {
  border: solid 1px #2196F3;
  width: 40px;
  height: 50px;
  text-align: center;
  margin: 10px 0;
  padding-top: 15px;
  border-radius: 3px;
  font-size: 25px;
}

.dialog .states .state-time .separator {
  font-size: 30px;
  font-weight: 600;
}

.dialog .states .state-time .message {
  margin-bottom: 30px;
}

.dialog .states .state-time .min-max {
  margin: 5px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

/*
** ServiceProviders' new request: COMMENT
*/

.dialog .states .state-comment {
  margin-top: 100px;
}

.dialog .states .state-comment .comment {
  width: 450px;
  color: #2196F3;
}

/*
** ServiceProviders' new request: VALIDE
*/

.dialog .states .state-validate {
  margin-top: 40px;
  color: #2196F3;
}

.dialog .states .state-validate .box {
  width: 130px;
  height: 130px;
  margin: 30px;
  font-size: 18px;
}

.dialog .states .state-validate .box .icon-top {
  font-size: 35px;
  margin-bottom: 20px;
}

.dialog .states .state-validate .icon-comment {
  margin: 0 25px 0 75px;
  font-size: 40px;
}

.dialog .states .state-validate .comment {
  border: none;
  resize: none;
  margin-top: 10px;
  border-bottom: solid 1px #8DBCEA;
  width: 365px;
  height: 150px;
  font-size: 18px;
}

