/*
** General transitions
*/

/*.reveal-animation.ng-enter {
  overflow-y: hidden;
  margin-top: 200px;

  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
  margin-top: 0;
  opacity: 1;
}

.reveal-animation.ng-leave {
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.reveal-animation.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}*/

/*
** General selectors
*/

body {
/*  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  background-color: #bbdefb;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 9px 7px 7px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #2196F3;
  border-radius: 10px;
}

/*
** Login
*/

.login md-content {
  background-color: #bbdefb;
}

.login .container {
  margin-top: 100px;
  width: 250px;
}

.login .clock-icon {
  color: #fff;
  font-size: 50px;
}

.login .clock-date {
  color: #2196F3;
  font-size: 15px;
  margin-bottom: 5px;
}

.login .clock-hour {
  color: #fff;
  font-size: 90px;
}

/*
** ServiceProviders' Home page
*/

.home {
}

.home md-content {
  background-color: #bbdefb;
}

.home .container {
  width: 100%;
  height: 100%;
}

.home .clock-icon {
  font-size: 25px;
  margin-right: 10px;
}

.home .sign-out-icon {
  font-size: 25px;
  width: 40px;
}

.home .clock-date {
  color: #1976D2;
  font-size: 15px;
  margin-bottom: 5px;
}

.home .clock-hour {
  color: #fff;
  font-size: 70px;
}

.home .tabs .tab {
  height: 100%;
  text-align: center;
}

.home .tabs .md-header {
  background-color: #1976D2 !important;
}

.home .tabs md-tab {
  color: #90caf9 !important;
}

.home .tabs md-tab.active, .home .tabs md-tab:focus {
  color: white !important;
}

.home .tabs md-tab[disabled] {
  opacity: 0.5;
}

.home .tabs .md-header .md-ripple {
  border-color: #FFFF8D !important;
}

.home .tabs md-tabs-ink-bar {
  background-color: #FFFF8D !important;}

.home .tabs .title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #888;
  margin-top: 24px;
}

.home .tabs .long > input {
  width: 264px;
}

.home .tabs .add-icon {
  font-size: 25px;
}

/*
** ServiceProviders' CHECK tab
*/

.check {
  margin-top: 70px;
}

.check .button {
  margin-top: 20px;
  margin-bottom: 40px;
}

.check .total {
  font-size: 14px;
  color: #1976D2;
  margin-bottom: 20px;
}

.check .period {
  color: #1976D2;
  margin-top: 10px;
}

.check .period-label {
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
  width: 100px;
  text-align: left;
}

.check .period-divider {
  border-bottom: solid 1px #4CA0F2;
  width: 190px;
  margin-top: 10px;
}

.check .badge {
  width: 55px;
  height: 18px;
}

.week .week-panel {
  margin-top: 50px;
  text-align: center;
  padding: 0;
}

/*
** ServiceProviders' WEEK tab
*/

.week .week-panel li {
  display: inline-block;
  width: 50px;
}

.week .week-panel li p {
  line-height: 1;
}

.week .week-panel .navigator {
  vertical-align: top;
  margin: 80px 15px 0 15px
}

.week .week-panel .centered {
  text-align: center;
}

.week .date-range {
  color: #1976D2;
  font-size: 22px;
  margin-top: 50px;
}

.week .week-panel .day-label {
  font-size: 12px;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .week-panel .day {
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .week-panel .day-of-week {
  font-size: 14px;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .week-panel .day-of-week:hover {
  cursor: default;
  transform: scale(1.3);
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  background-color: #fafafa;
  border-radius: 3px;
}

.week .week-panel .total {
  font-weight: bold;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .border-bottom {
  margin: 8px;
}

/*
** ServiceProviders' MONTH tab
*/

.month .date-range {
  color: #1976D2;
  font-size: 22px;
  margin: 50px 0 50px 0;
}

.month .day-of-week {
  font-size: 14px;
  font-weight: 600;
  height: 25px;
  width: 40px;
  margin: 4px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 2px;
}

.month .day {
  font-size: 18px;
  width: 40px;
  margin: 4px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 2px;
}

.month .navigator {
  margin: 65px 20px 0 20px;
}

/*
** ServiceProviders' REQUESTS tab
*/

.requests {
  margin-top: 30px;
}

.requests .add-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.requests .fa-comments, .requests .fa-comment {
  float: left;
  color: #E4ECF4;
  font-size: 40px;
  margin: -20px -10px;
}

.requests md-content {
  height: 750px;
}

.requests .item {
  padding: 30px;
  border: solid 1px #8CBEE5;
  margin-bottom: 5px;
  background-color: #fff;
  text-align: left;
  border-radius: 3px;
}

.requests .remove-padding-bottom {
  padding-bottom: 0;
}

.requests .header {
  margin-bottom: 30px;
}

.requests .badge {
  float: right;
  border-radius: 2px;
  margin-top: -10px;
}

.requests .badge.pending {
  background-color: #aaa;
}

.requests .badge.accepted {
  background-color: #1DA81D;
}

.requests .badge.refused {
  background-color: #DD3838;
}

/*
** ServiceProviders' new request
*/

.new-request .content {
  width: 600px;
  height: 460px;
}

.new-request .header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1976D2;
  padding: 15px;
  color: #fff;
}

.new-request .header .icon {
  font-size: 30px;
  margin: 0 20px 5px 10px;
}

.new-request .header .title {
  text-transform: uppercase;
}

.new-request .header .subtitle {
  position: absolute;
  right: 0;
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 14px;
}

.new-request .fixed-button-width {
  width: 130px;
}

.new-request .states .state-date {
  margin-top: 60px;
}

.new-request .states .state-date .navigator {
  margin: 20px;
}

.new-request .states .state-date .box-month {
  border: solid 1px #2196F3;
  border-radius: 2px;
}

.new-request .states .state-date .box-month .header-month {
  padding: 10px;
  background-color: #2196F3;
  color: #fff;
}

.new-request .states .state-date .box-month .header-month {
  padding: 5px;
  background-color: #2196F3;
  color: #fff;
}

.new-request .states .state-date .box-month .header-month .label-month {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

.new-request .states .state-date .box-month .header-month .day-selected-header {
  background-color: #fff;
  color: #2196F3;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0 0 0;
  margin: 10px 0 20px 0;
}

.new-request .states .state-date .box-month .header-month .hide {
  visibility: hidden;
}

.new-request .states .state-date .box-month .header-month .day-of-week {
  color: #2196F3;
  background-color: #fff;
  border-radius: 1px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.new-request .states .state-date .box-month .days .day {
  cursor: pointer;
  color: #2196F3;
  border: solid 1px #2196F3;
  background-color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.new-request .states .state-date .box-month .days .day-current {
  cursor: pointer;
  color: whitesmoke;
  border: solid 1px #2196F3;
  background-color: #2196F3;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.new-request .states .state-date .box-month .days .day-dummy {
  cursor: pointer;
  color: #2196F3;
  border: solid 1px #2196F3;
  background-color: #2196F3;
  opacity: .2;
  border-radius: 2px;
  text-transform: uppercase;
  margin: 5px;
  width: 42px;
  padding: 4px 0;
  font-size: 14px;
  text-align: center;
}

.new-request .states .state-date .box-month .days .day:hover,
.new-request .states .state-date .box-month .days .day-current:hover {
  transform: scale(1.6);
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.new-request .states .state-period {
  margin-top: 130px;
  color: #2196F3;
}

.new-request .states .state-period .divider {
  border-bottom: solid 1px #ddd;
  margin: 30px 0;
  width: 100%;
}

.new-request .states .state-time {
  margin-top: 140px;
  color: #2196F3;
}

.new-request .states .state-time .unit {
  margin: 10px;
}

.new-request .states .state-time .unit .digit {
  border: solid 1px #2196F3;
  width: 40px;
  height: 50px;
  text-align: center;
  margin: 10px 0;
  padding-top: 15px;
  border-radius: 3px;
  font-size: 25px;
}

.new-request .states .state-time .separator {
  font-size: 30px;
  font-weight: 600;
}

