.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #2196F3;
  border-radius: 10px;
}

.sp-home .container {
  margin-top: 20px;
  width: 250px;
}

.sp-home .clock-icon {
  color: #ddd;
  font-size: 50px;
}

.sp-home .clock-date {
  color: #999;
  font-size: 15px;
  margin-bottom: 5px;
}

.sp-home .clock-hour {
  color: #777;
  font-size: 70px;
}

.home .container {
  width: 800px;
}

.home .clock-icon {
  font-size: 25px;
  margin-right: 10px;
}

.home .sign-out-icon {
  font-size: 25px;
  width: 40px;
}

.home .content {
  margin: 50px;
  min-height: 100px;
}

.home .clock-date {
  color: #1976D2;
  font-size: 15px;
  margin-bottom: 5px;
}

.home .clock-hour {
  color: #fff;
  font-size: 70px;
}

.check {
  margin-top: 70px;
}

.check .button {
  margin-top: 20px;
  margin-bottom: 40px;
}

.check .total {
  font-size: 14px;
  color: #1976D2;
  margin-bottom: 20px;
}

.check .period {
  color: #1976D2;
  margin-top: 10px;
}

.check .period-label {
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
  width: 100px;
  text-align: left;
}

.check .period-divider {
  border-bottom: solid 1px #4CA0F2;
  width: 190px;
  margin-top: 10px;
}

.check .badge {
  width: 55px;
  height: 18px;
}

.week .week-panel {
  margin-top: 50px;
  text-align: center;
  padding: 0;
}

.week .week-panel li {
  display: inline-block;
  width: 50px;
}

.week .week-panel li p {
  line-height: 1;
}

.week .week-panel .navigator {
  vertical-align: top;
  margin: 80px 15px 0 15px
}

.week .week-panel .centered {
  text-align: center;
}

.week .date-range {
  color: #1976D2;
  font-size: 22px;
  margin-top: 50px;
}

.week .week-panel .day-label {
  font-size: 12px;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .week-panel .day {
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .week-panel .day-of-week {
  font-size: 14px;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .week-panel .day-of-week:hover {
  cursor: default;
  transform: scale(1.3);
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  background-color: #fafafa;
  border-radius: 3px;
}

.week .week-panel .total {
  font-weight: bold;
  margin: 2px;
  padding: 4px 2px 2px 2px;
  color: #1976D2;
  background-color: #fff;
  border-radius: 1px;
}

.week .border-bottom {
  margin: 8px;
  /*padding: 0;*/
}

.reveal-animation.ng-enter {
  overflow-y: hidden;
  margin-top: 200px;

  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
  margin-top: 0;
  opacity: 1;
}

.reveal-animation.ng-leave {
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.reveal-animation.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}

.tabs .tab {
  height: 600px;
  text-align: center;
  background-color: #bbdefb;
}

.tabs .md-header {
  background-color: #1976D2 !important; }
.tabs md-tab {
  color: #90caf9 !important; }
.tabs md-tab.active, .tabs md-tab:focus {
  color: white !important; }
.tabs md-tab[disabled] {
  opacity: 0.5; }
.tabs .md-header .md-ripple {
  border-color: #FFFF8D !important; }
.tabs md-tabs-ink-bar {
  background-color: #FFFF8D !important; }
.tabs .title {
  padding-top: 8px;
  padding-right: 8px;
  text-align: left;
  text-transform: uppercase;
  color: #888;
  margin-top: 24px; }

.tabs .long > input {
  width: 264px; }

.tabs .add-icon {
  font-size: 25px;
}

.comments .add-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

