.login {
  padding-top: 100px;
}

.login .fa-clock-o {
  font-size: 90px;
  color: #fff;
  margin-bottom: 40px;
}

.login .credentials {
  width: 300px;
  margin-top: 10px;
}

.login .clock-date {
  color: #2196F3;
  font-size: 20px;
}

.login .clock-hour {
  color: #fff;
  font-size: 90px;
  margin-top: -15px;
}

.login .button {
  height: 45px;
}
