 <div class="month" layout="column" ng-controller="ServiceProvidersMonthCtrl">
   <md-whiteframe class="md-whiteframe-z1" layout>
    <div class="box-month">
      <div class="header-month" layout="rows" layout-align="space-between center">
          <md-button ng-click="navigate(-1)" aria-label="Go to previous month"><i class="fa fa-chevron-left"></i></md-button>

          <div class="month-year">{{month.monthYear}}</div>

          <md-button ng-click="navigate(1)" aria-label="Go to next month"><i class="fa fa-chevron-right"></i></md-button>
      </div>

      <div class="days">
        <div layout="row" layout-align="center center">
          <div ng-repeat="day in month.shortDayLabels">
            <div class="day-of-week">{{day}}</div>
          </div>
        </div>

        <div class="days" layout="column" layout-align="center center">
          <div ng-repeat="week in month.weeks">
            <div layout="row">
              <div ng-repeat="day in week track by $index">
                <div ng-class="{'day': !day.current, 'day-current': day.current}" ng-click="setDate(day)" ng-if="day.num!=0">
                  <div>{{day.num}}</div>
                  <div class="worked">W</div>
                </div>

                <div class="day-dummy" ng-show="day.num==0">&nbsp;</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-whiteframe>
</div>
