.sp-home .container {
  margin-top: 20px;
  width: 250px;
}

.sp-home .clock-icon {
  color: #ddd;
  font-size: 50px;
}

.sp-home .clock {
}

.sp-home .clock-date {
  color: #999;
  font-size: 12px;
}

.sp-home .clock-hour {
  color: #777;
  font-size: 70px;
}

.reveal-animation.ng-enter {
  overflow-y: hidden;
  margin-top: 200px;

  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
  margin-top: 0;
  opacity: 1;
}

.reveal-animation.ng-leave {
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.reveal-animation.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
}
