$background-color: #bbdefb;

body {
  background-color: $background-color;
  font-weight: 200;
}

.circle {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: #fff;
  background-color: #7BD366;
  border-radius: 50%;
}

// injector
// endinjector
