<div class="check" layout="column" layout-align="center center">
  <div class="container">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span><i class="fa fa-clock-o clock-icon"></i>iCheck</span>
        <div flex></div>
        <md-button class="md-accent-hue-1"><i class="fa fa-sign-out sign-out-icon"></i></md-button>
      </div>
    </md-toolbar>

    <md-content>
      <div class="tabs">
        <md-tabs md-selected="selectedIndex" class="md-hue-2">
          <md-tab label="Check">
            <div class="demo-tab tab1" layout="column" layout-fill layout-align="space-around center">
              <div class="slide-animate" ng-include="'views/serviceProviders/check.html'"></div>
            </div>
          </md-tab>

          <md-tab label="Week">
            <div class="demo-tab tab1" layout="column" layout-fill layout-align="space-around center">
              <div>Week</div>
            </div>
          </md-tab>

          <md-tab label="Month">
            <div class="demo-tab tab1" layout="column" layout-fill layout-align="space-around center">
              <div>Month</div>
            </div>
          </md-tab>

          <md-tab label="Comments">
            <div class="demo-tab tab1" layout="column" layout-fill layout-align="space-around center">
              <div class="slide-animate" ng-include="'views/serviceProviders/comments.html'"></div>
            </div>
          </md-tab>
        </md-tabs>
      </div>
    </md-content>
  </div>
</div>
